.comment__page_body {
  padding: 168rpx 30rpx 0;
}

.comment__page_comments {
  height: 98rpx;

  padding: 0 30rpx;

  border-top: 1rpx solid rgba(0,0,0,0.05);

  .comment__page_form {
    display: flex;
    align-items: center;

    width: 690rpx;
    height: 98rpx;

    .comment__page_input {
      width: 626rpx;
      height: 44rpx;
      min-height: 44rpx;

      font-size: 32rpx;
      color: #2e2e30;

      line-height: 44rpx;
    }

    .comment__page_submit {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 84rpx;
      height: 44rpx;

      font-size: 32rpx;
      color: #cacbd0;
    }
  }
}
