@import "../base/fn.less";

.my__gold_view {

  position: relative;
  background-color: #3462ff;
}

.my__gold_preview {

  position: relative;

  .my__gold_preview-panel {

    height: 296rpx;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .my__gold_preview-name {

      margin-bottom: 20rpx;

      font-size: 26rpx;
      color: #ffffff;
    }

    .my__gold_preview-val {

      font-family: "HFC";
      font-size: 96rpx;
      color: #ffffff;
    }
  }

  .my__gold_preview-about {

    position: absolute;
    top: 30rpx;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 144rpx;
    height: 56rpx;

    font-size: 22rpx;
    color: #ffffff;

    background-color: rgba(255, 255, 255, .1);

    border-radius: 200rpx 0 0 200rpx;
    overflow: hidden;
  }
}

.my__gold_data {

  display: flex;
  align-items: center;

  height: 128rpx;

  background-color: rgba(255,255,255,0.10);

  .my__gold_data-split {

    border-right: 1rpx solid rgba(255,255,255,0.40);
  }

  .my__gold_data-item {

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .my__gold_data-key {

      font-size: 22rpx;
      color: #ffffff;
    }

    .my__gold_data-val {

      font-size: 32rpx;
      color: #ffffff;
      font-weight: 500;
    }
  }
}

.my__gold_detail {

  .flex-box();

  .box-middle();

  height: 108rpx;

  font-size: 32rpx;
  color: #212121;
  font-weight: 500;

  padding: 0 30rpx;

  background-color: #f8f8f8;
}

.my__gold_list {

  padding-bottom: 96rpx;
}

.my__gold_item {

  .flex-box();

  justify-content: space-between;
  align-items: center;

  padding: 30rpx;

  border-top: 1rpx solid rgba(0,0,0,0.05);

  .my__gold_content {

    flex: 1;

    .my__gold_name {

      font-size: 32rpx;
      color: #212121;
    }

    .my__gold_time {

      font-size: 24rpx;
      color: #212121;

      opacity: 0.6;
    }
  }

  .my__gold_num {

    font-size: 32rpx;
    color: #3462ff;
    font-weight: 500;
  }
}

.my__gold_group {

  box-shadow: 0 0 24rpx 0 rgba(0,0,0,0.05);

  .flex-box();

  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;

  width: 750rpx;
  height: 96rpx;

  background-color: #ffffff;

  .my__gold_pay {

    .flex-box();

    .box-center();

    flex: 1;

    font-size: 32rpx;
    color: #3462ff;
  }

  .my__gold_get {

    .flex-box();

    .box-center();

    flex: 1;

    font-size: 32rpx;
    color: #ffffff;

    background-color: #3462ff;
  }
}