.my__message_title {

  padding: 30rpx;

  font-size: 64rpx;
  color: #212121;
  font-weight: 600;
}

.my__message_list {

  padding: 30rpx;

  .my__message_item {

    display: flex;
    align-items: center;

    .my__message_icon {

      display: flex;
      align-items: center;
      justify-content: center;

      width: 96rpx;
      height: 96rpx;

      margin-right: 30rpx;

      border-radius: 200rpx;
      overflow: hidden;

      .my__message_icon-i {

        width: 40rpx;
        height: 40rpx;
      }
    }

    .my_message_split {
      border-bottom: 1rpx solid rgba(0,0,0,0.05);
    }

    .my__message_content {

      flex: 1;

      display: flex;
      align-items: center;

      padding: 30rpx 0;
    
      .my__message_context {

        flex: 1;

        .my__message_name {

          font-size: 40rpx;
          color: #212121;
          font-weight: 600;
        }

        .my__message_desc {

          font-size: 26rpx;
          color: #9b9b9b;
        }
      }

      .my__message_count {

        display: flex;
        align-items: center;
        justify-content: center;

        width: 72rpx;
        height: 48rpx;

        font-size: 28rpx;
        color: #ffffff;

        border-radius: 200rpx;
        overflow: hidden;

        background-color: #ff658e;
      }
    }
  }
}