page {
  color: #000000;
  line-height: 1.4;
}

page, .page {
  position: relative;
  height: 100%;
}

.full-page {
  position: relative;
  width: 750rpx;
  height: 100%;
}

view {
  box-sizing: border-box;
}

image {
  display: block;
}