page {
  color: #000000;
  line-height: 1.4;
}

page, .page {
  position: relative;
  height: 100%;
}

.full-page {
  position: relative;
  width: 750rpx;
  height: 100%;
}

view {
  box-sizing: border-box;
}

image {
  display: block;
}

button {
  position: relative;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  line-height: 1;
  background: transparent;

  &:after {
    border: 0;
    border-radius: 0;
  }
}
